# dotfiles
.*
!.gitignore
#
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# hg stuff
*.orig
status
# odoo filestore
openerp/filestore
# maintenance migration scripts
openerp/addons/base/maintenance
# generated for windows installer?
install/win32/*.bat
install/win32/meta.py
# various virtualenv / Distribution / packaging
.Python
/bin/
/build/
/dist/
/include/
/lib/
/lib64/
/man/
/share/
/src/
env/
develop-eggs/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.egg-info

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
# .coverage
**/.coverage
.cache
nosetests.xml
coverage.xml
cover/
# Translations
*.mo
# Pycharm
.idea
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
# Rope
.ropeproject
# Sphinx documentation & documentation
docs/_build/
_build/
latex/
html/
# docs/
# Backup files & Temporay files
*~
*.swp
*.log
*.bak
*.out
l10n-italy-supplemental/
stdout.log
*.oca
*.z0i
