# Odoo yaml template for travis-ci
# __version__=0.2.1

language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "3.4"

virtualenv:
  system_site_packages: true

git:
  submodules: false
  depth: false

addons:
  apt:
#    sources:
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - expect-dev
      - python-lxml
#     Search your packages here:
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#     For wkhtmltopdf, see the env section below

before_install:
  - export TRAVIS_DEBUG_MODE="1"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - git clone https://github.com/zeroincombenze/tools.git ${HOME}/tools --depth=1
  - mv ${HOME}/tools/maintainer-quality-tools ${HOME}
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}

install:
  - travis_install_env
  - export EXCLUDE=hw_scanner,hw_escpos,document_ftp,delivery,stock_invoice_directly,claim_from_delivery

env:
  global:
  - VERSION="11.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"

  matrix:
  - LINT_CHECK="0"
  - TESTS="1" ODOO_REPO="zeroincombenze/OCB"

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success

