# __version__=0.1.2
language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

git:
  submodules: false

addons:
  apt:
    sources:
      - pov-wkhtmltopdf
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - python-dev
      - libxml2-dev
      - libxslt1-dev
      - zlib1g-dev
      - python-ldap
      - python-psycopg2
      - python-simplejson
      - expect-dev
      - python-setuptools
#     Search your packages here:
#       ME}/tools
#
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#     For wkhtmltopdf, see the env section below

before_install:
  - export TRAVIS_DEBUG_MODE="1"
  - pip install urllib3[secure] --upgrade; true
# Use Zeroincombenze(R) tools
  - git clone https://github.com/zeroincombenze/tools.git ${HOME}/tools --single-branch --depth=1
  - mv ${HOME}/tools/maintainer-quality-tools ${HOME}
  - dir ${HOME}
  - dir ${HOME}/tools
  - dir ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}

install:
  - travis_install_env
  # tests of document_ftp and delivery fail. The following two are excluded because they depend on delivery
  - export EXCLUDE=hw_scanner,hw_escpos,document_ftp,delivery,stock_invoice_directly,claim_from_delivery
  - export INSTALL_OPTIONS="--without-demo=account"
  # - cp ${HOME}/maintainer-quality-tools/cfg/.coveragerc .
  # - export INCLUDE=$(getaddons.py -m ${HOME}/build/${ODOO_REPO}/openerp/addons ${HOME}/build/${ODOO_REPO}/addons)

env:
  global:
  - VERSION="8.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"

  matrix:
  - LINT_CHECK="1" LINT_CHECK_LEVEL="MINIMAL"
  - TESTS="1" ODOO_REPO="odoo/odoo"
  - TESTS="1" ODOO_REPO="OCA/OCB"
  - TESTS="1" ODOO_REPO="zeroincombenze/OCB"
# either use the two lines above or the two below. Don't change the default if
# it's not necessary (it is only necessary if modules in your repository can't
# be installed in the same database. And you get a huge speed penalty in your
# tests)
#  - TESTS="1.0" ODOO_REPO="odoo/odoo" UNIT_TEST="1"
#  - TESTS="1.0" ODOO_REPO="OCA/OCB" UNIT_TEST="1"

virtualenv:
  system_site_packages: true

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
