language: python

python:
  - "2.7"

sudo: false
cache: pip

git:
  submodules: false

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow

env:
  global:
  - VERSION="6.1" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"

  matrix:
  # - LINT_CHECK="1"
  # - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo"
  # - TESTS="1" ODOO_REPO="OCA/OCB"

virtualenv:
  system_site_packages: true

before_install:
  - git clone https://github.com/zeroincombenze/tools.git ${HOME}/tools --depth=1
  - mv ${HOME}/tools/maintainer-quality-tools ${HOME}
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}

install:
  # - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  # - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly
  - pip install unidecode
  - pip install PyXB==1.2.4
  - pip install codicefiscale

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
