/* http://pxtoem.com/ */

.header_partner {
    margin-top: 15px;
}

/*.header_barcode {
    margin-top: -180px;
}
*/

.logo {
    max-height: 90px;
    margin-top: 60px;
}

.custom_header {
    color: gray;
    margin-top: 25px;
}

body {
    font-size: 14px;
}

.small, .custom_header {
    font-size: 91.7%;
}

.normal_plus {
    font-size: 116.7%;
}

.large {
    font-size: 166.7%;
}

.company_logo {
    max-height: 100px;
}
