.selection-area {
    height: 32px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7B7979), to(#393939));
    background: -moz-linear-gradient(#7B7979, #393939);
    background:  -ms-linear-gradient(#7B7979, #393939);
    background:      linear-gradient(#7B7979, #393939);
}

#customer_link:hover{
    background: #444 !important; 
}

.button_select {
    border: 1px solid #AAA; 
    color: #FFF; 
    background: #666; 
    margin-left: 5px; 
    margin-right: 5px; 
    cursor: pointer; 
    padding: 3px 4px; 
    border-radius: 4px; 
    text-decoration: none;
}

table.pos_discount_table {
    width: 100% !important;
}

div#disc_pad {
    position: absolute;
}

button.disc_button {
    height: 22px;
    width: 90px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border: 1px solid #CCC;
    font-size: 12px;
    margin: -3px -6px 0 -2px;
}
